[submodule "themes/cactus-plus"]
	path = themes/cactus-plus
	url = https://github.com/jordinebot/hugo-theme-cactus-plus
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
